Debug/
DebugA/
DebugB/
Release/
.settings/stm32cubeide.project.prefs
.settings/language.settings.xml
.settings/org.eclipse.core.resources.prefs
VCB2.1 Debug.launch
VCB2.1.launch
.vscode/settings.json
